<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cpf.ccshop.dao.TbItemCustomMapper" >

    <sql id="Base_Column_List" >
        i.id, i.title, i.sell_point as sellPoint, i.price, i.num, i.barcode,
        i.image, i.cid, i.status, i.created, i.updated,c.name as catName
    </sql>

    <select id="countItems" resultType="int">
        select count(1) from tb_item where status!=3
    </select>
    <!--单列查询-->
    <!--<select id="listItemsByPage" resultType="com.cpf.ccshop.pojo.vo.TbItemCustom">-->
        <!--&lt;!&ndash;select&ndash;&gt;-->
        <!--&lt;!&ndash;<include refid="Base_Column_List"/>&ndash;&gt;-->
        <!--&lt;!&ndash;from tb_item&ndash;&gt;-->
        <!--&lt;!&ndash;limit #{offset},#{rows}&ndash;&gt;-->
        <!--select-->
        <!--<include refid="Base_Column_List"/>-->
        <!--from tb_item i-->
        <!--left join tb_item_cat c on i.cid=c.id-->
        <!--where i.status!=3-->
        <!--<choose>-->
            <!--<when test="order!=null and order.sort!=null and order.order!=null and order.sort!='sellPoint'">-->
                <!--ORDER BY CONVERT(i.${order.sort} USING gbk) ${order.order}-->
            <!--</when>-->
            <!--<when test="order!=null and order.sort!=null and order.order!=null and order.sort=='sellPoint'">-->
                <!--ORDER BY  CONVERT(${order.sort} USING gbk) ${order.order}-->
            <!--</when>-->
            <!--<otherwise>-->
                <!--ORDER BY i.id DESC-->
            <!--</otherwise>-->
        <!--</choose>-->
        <!--limit #{page.offset},#{page.rows}-->
    <!--</select>-->

    <select id="listItemsByPage" resultType="com.cpf.ccshop.pojo.vo.TbItemCustom">
        <!--select-->
        <!--<include refid="Base_Column_List"/>-->
        <!--from tb_item-->
        <!--limit #{offset},#{rows}-->
        select
        <include refid="Base_Column_List"/>
        from tb_item i
        left join tb_item_cat c on i.cid=c.id
        where i.status!=3
        <choose>
            <when test="order!=null and order.sort!=null and order.order!=null and order.orderParams!=null">
                <foreach collection="order.orderParams" item="item" open="order by" close="" separator=",">
                    <choose>
                        <when test="item!='sellPoint desc' and item!='sellPoint asc'">
                            i.${item}
                        </when>
                        <otherwise>
                            #{item}
                        </otherwise>
                    </choose>
                </foreach>
            </when>
            <otherwise>
                ORDER BY i.id DESC
            </otherwise>
        </choose>
        limit #{page.offset},#{page.rows}
    </select>

</mapper>